@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;300;400;500;600;700;900&display=swap');


:root {
}

html {
    // font-size: 62.5%;
    // font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'PT Sans', sans-serif;
    font-family: 'Public Sans', sans-serif !important;
}

body {
    // font-size: 1.6rem;
    // line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    text-decoration: none;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-5 {
  margin-right: 5px;
}

.mr-10 {
  margin-right: 10px;
}

// Override lib's comp

.popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    width: 50%;
    padding: 5px;
  }
  .popup-arrow {
    color: rgb(255, 255, 255);
  }
  [role='tooltip'].popup-content {
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
  }
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }
  

  .modal {
    font-size: 12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    text-align: center;
    min-height: 200px;
    padding: 10px 5px;
    font-size: 14px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
  

// custom
th, tr, td {
  font-size: 1rem !important;
  padding: 16px !important;
  // line-height: 2.6rem !important;

  // & div {
   //   line-height: 2.6rem !important;
  // }
}

th {
  background-color: rgb(244, 246, 248) !important;
  color: rgb(99, 115, 129) !important;
  font-weight: 600 !important;
}

// tr, td {
// }


.MuiPaper-root, .MuiDataGrid-root {
  // width: 100%;

  & * {
    // font-size: 1.6rem !important;
    // line-height: 2.6rem !important;
  }
}

.MuiTextField-root {
  width: 100%;
}

.MuiSlider-root {
  height: 10px !important;
}

button + button {
  margin-left: 8px !important;
}

.MuiDialog-paper {
  .MuiDialogTitle-root, .MuiDialogActions-root {
    padding: 24px !important;
    font-weight: 700 !important;
  }

  .MuiDialogContent-root {
    padding: 0px 24px 8px !important;
  }
}