.body {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px);
    align-items: center;
    // font-size: 3rem;
    padding: 60px 100px 40px;
    max-width: 1200px;
    margin: auto;
    // background-color: #fbfbfb;
}